html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #EEEEF6;
    display: grid;
    grid-template-columns: 5% 15% 65% 5%;
    grid-template-rows: 10% 20% 70%;
}

main {
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: 25% 50% 25%;
}

header {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #31343D;
}

img {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    margin: 0;
}

aside {
    grid-column-start: 2;
    grid-column-end: ;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 25% 50% 25%;
    text-align: right;
}

h1 {
    font-size: 200%;
    background-color: #92CCCD;
    color: #31343D;
    margin-left: 5%;
}

nav {
    display: flex;
    justify-content: center;
    margin-right: 3%;
    height: 100%;
    width: 30%;
}

.bttn {
    color: #92CCCD;
    margin: 5% 5% 0 5%;
}

h2, h3, h4 {
    text-align: right;
    margin: 6% 10% 4% 6%;
    font-size: 175%;
    color: #465A79;
}

p {
    font-size: 100%;
    margin: 2% 0 2% 0;
}

.abtme {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.aabtme {
    box-sizing: content-box;
    width: 90%;
    height: 90%;
    border-right: solid 4px #465A79;
    margin: 2% 0 2% 0;

}

.aprojects {
    box-sizing: content-box;
    width: 90%;
    height: 90%;
    border-right: solid 4px #465A79;
    margin: 2% 0 2% 0;

}

.acontactme {
    box-sizing: content-box;
    width: 90%;
    height: 90%;
    border-right: solid 4px #465A79;
    margin: 2% 0 2% 0;

}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.bigpic {
    margin: 2%;
    width: 45%;
    height: 45%;
}

.smllrpics {
    margin: 2%;
    width: 20%;
    height: 25%;
}