html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EDEDF6;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
}

header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end:2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #31343D;
}

h1 {
  font-size: 76px;
  margin-bottom: 0;
  color: #91CBCD;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  margin: 2%;
  color: #91CBCD;
  font-size: 36px;
}

h2,h3,h4 {
  font-size: 60px;
  font-weight: bold;
  color: #475A77;
}

.leftsection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  margin: 5%;
}
.rightsection {
  margin: 1%;
}
#abtmetxt {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end:2;
}

h5 {
  font-size: 20px;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 25% 25% 25% 25%;
  width: 100%;
  height: 100%;
}

#abtme {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end:2;
}

p {
  margin: 0;
}

#selfie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 55%;
  margin-bottom: 2%;
}

#projects {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end:3;

}

.imgtitle {
  margin: 0% 10% 0 10%;
}

#imgtitle {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.prjimg {
  width: 100%;
  height: 80%;
}

#images {
  display: flex;
  justify-content: center;
  margin: 1%;
}

#resume {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end:4;
}

#contactme {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

ul {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 2%;
}

/* large screen*/
@media screen and (max-width: 1440px) {
  header {
    background: #772014;
  }
}