html {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #EDEDF6;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows:  5% 20% auto;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #31343D;
}

img {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    margin: 0%;
}

aside {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
 
   
}

.abtme {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 0;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    width: 100%;
    height: 100%;
    margin: 0;
  
}

.abtme {
    width: 100%;
    height: 24%;
}

.projects {
    width: 100%;
    height: 70%;
    margin: 0;
}

.contactme {
    width: 100%;
    height: 25%;
    margin-top: 5%;
}

h1 {
    font-size: 150%;
    background-color: #92CCCD;
    color: #31343D;
    margin-left: 5%;
}

h2, h3, h4 {
    text-align: right;
    margin: 6% 10% 4% 6%;
    font-size: 200%;
    color: #465A79;
}

.selfie {
    display: block;
    width: 75px;
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 1%;
}

p {
    width: 90%;
    height: 25%;
    font-size: 200%;
    margin-top: 2%;
    margin-bottom: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    color: #465A79;
    flex-shrink: 1;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 50%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

li {
    padding: 1% 0 1% 0;
    margin: 0 5% 0 5%;
    font-size: 150%;
    color: #465A79;
    display: block;
    border-bottom: solid 5px #465A79;
}

.bttn {
    color: #92CCCD;
    padding-bottom: 1%;
    margin: 0 5% 0 5%;
    display: block;
    border-bottom: solid 4px #92CCCD;

}

.aabtme {
    box-sizing: content-box;
    width: 100%;
    height: 25%;
    border-right: solid 4px #465A79;
    margin: 2% 0 2% 0;

}

.aprojects {
    box-sizing: content-box;
    width: 100%;
    height: 70%;
    border-right: solid 4px #465A79;
    margin: 2% 0 2% 0;

}

.acontactme {
    box-sizing: content-box;
    width: 100%;
    height: 20%;
    border-right: solid 4px #465A79;
    margin: 2% 0 2% 0;

}

.bigpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    width: 70%;
    height: 70%;
    border: solid 5px #91CACC;
    
}

.smllrpics {
    margin: 0 1% 0 2%;
    width: 20%;
    height: 10%;
    border: solid 5px #91CACC;
}

/* Large laptop */
@media screen and (max-width: 1440px) {
    .abtme {
        font-size: 10px;
    }

    .bigpic {
        width: 60%;
        height: 50%;
    }

    .smallerpics {
        width: 10%;
        height: 5%;
    }
  
    li {
        font-size: 120%;
    }
}


/* laptop */
@media screen and (max-width: 1024px) {
    .abtme {
        font-size: 10px;
    }

    .bigpic {
        width: 60%;
        height: 50%;
    }

    .smallerpics {
        width: 10%;
        height: 5%;
    }
  
    li {
        font-size: 120%;
    }
}

/* tablet*/
@media screen and (max-width: 768px) {
    body {
        grid-template-rows:  5% 10% auto;
    }
    .abtme {
        font-size: 8px;
    }

    img {
        height: 100%;
    }

    .bigpic {
        width: 60%;
        height: 50%;
    }

    .smallerpics {
        width: 10%;
        height: 5%;
    }
  
    li {
        font-size: 120%;
    }
}

/* large mobile */
@media screen and (max-width: 425px) {
    aside {
        font-size: 10px
    }

    .abtme {
        font-size: 5px;
    }

    .bigpic {
        width: 60%;
        height: 40%;
    }

    .smallerpics {
        width: 10%;
        height: 5%;
    }
  
    ul {
        font-size: 8px;
    }

    li {
        font-size: 8px;
    }
}


  /* phone */
  @media screen and (max-width: 375px) {
    header {
        font-size: 10px;
    }

    aside {
        font-size: 10px
    }
    .abtme {
        font-size: 5px;
    }

    .bigpic {
        width: 50%;
        height: 30%;
    }

    .smallerpics {
        width: 10%;
        height: 5%;
    }
  
    ul {
        font-size: 8px;
    }

    li {
        font-size: 8px;
    }
  }

 /* phone */
 @media screen and (max-width: 320px) {
    header {
        font-size: 10px;
    }

    aside {
        font-size: 10px
    }
    .abtme {
        font-size: 5px;
    }

    .bigpic {
        width: 50%;
        height: 30%;
    }

    .smallerpics {
        width: 10%;
        height: 5%;
    }
  
    ul {
        font-size: 8px;
    }

    li {
        font-size: 8px;
    }
  }